// Typography
$leading-title-fullhd: 95px;
$leading-title-hd: 78px;
$leading-title-desktop: 72px;
$leading-title-tablet: 62px;
$leading-title-mobile: 34px;

$description-title-hd: 32px;
$description-title-desktop: 28px;
$description-title-tablet: 24px;
$description-title-mobile: 22px;

$medium-title-fullhd: 55px;
$medium-title-hd: 52px;
$medium-title-widescreen: 42px;
$medium-title-desktop: 38px;
$medium-title-tablet: 32px;
$medium-title-mobile: 28px;

$feature-title-fullhd: 45px;
$feature-title-hd: 42px;
$feature-title-widescreen: 34px;
$feature-title-desktop: 32px;
$feature-title-tablet: 25px;
$feature-title-mobile: 22px;

$feature-description-fullhd: 34px;
$feature-description-hd: 32px;
$feature-description-widescreen: 24px;
$feature-description-desktop: 22px;
$feature-description-tablet: 18px;
$feature-description-mobile: 18px;

$button-text: 17px;
$button-text-mobile: 15px;

$text-mobile: 18px;
$text-desktop: 15px;
$text-widescreen: 17px;
$text-hd: 25px;
$text-fullhd: 28px;

// Colors
$dark-blue: #061C2E;
$black: #000;
$white: #FFF;
$light: #f4f1f1;
$gray: #4F4F4F;
$light-gray: #656565;
$gray-border: #E7E7E7;
$disabled-text: #D7D7D7;
$middle-gray: #999999;
$gray-link: #BEBEBE;
$red: #D73148;
$link: #E24F5B;
$red-link: #E92B46;
$red-link-hover: #FF5069;
$brownish: #939393;
$dark-color: #606060;
